<%@products.each do |product|%>
  <%=product.name%>
  <div id="body-<%= product.id %>"><%= truncate product.description %></div>
  <div id="body2-<%= product.id %>"></div>
  <button value="More Info" class="js-more" data-id="<%= product.id %>">More...</button>
  <%end%>
<script type="text/javascript" charset="utf-8">
$(function () {
$(".js-more").on('click', function() {
  // get the id from the data attribute
  var id = $(this).data("id");
  $.get("/products/" + id + "/description", function(data) {
    $("#body-" + id).text(data);
  });
  $.get("/products/" + id + "/inventory", function(data){
    if(data === "true"){
      $("#body2-" + id).text("Available");
    }
    else if (data === "false") {
      $("#body2-" + id).text("Sold Out");
    }
  });
});
});
</script>
